<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Konrad Prøve Eksamen</title>
  <link rel="stylesheet" href="../css/styles.css">
</head> 
<body>
  <nav>
    <!-- Navbar -->
    <a id="navHome" href="/">Home</a>
    <a id="navLogin" href="/login">login</a>
  </nav>
  
