<%- include('partials/header'); -%>

    <div class="intro">
    <h1>KicksHub</h1>
    </div>
    
    <h2>10 latest releases!</h2>
    <div id="recentBox">
    
    </div>

    <h2>All releases!</h2>
    <div id="allBox">
    
    </div>

    <script src="js/index.js" defer></script>
<%- include('partials/footer'); -%>